/* main */


.base{
    height: 63rem;
    background-image: linear-gradient(rgba(166, 246, 250, 0.802), rgb(194, 236, 238), rgb(248, 224, 165));
    z-index: 0;
    position: relative;
}

.bag{
    top: 0px;
    position: sticky;
    z-index: 10;
    padding: 1rem;
}

.bag>img{
    height: 1.3rem;
    cursor: pointer;
}

.imgrz{
    position: relative;
    height: 3rem;
    margin: 15rem;
    margin-top: 6rem;

}

.imgrz>div>img{
    height: 3rem;
    position: absolute;
}
    /* child of imgrz */
    .getp{
        position: absolute;
        margin-top: 5rem;
    }

    .whatp{
        position: absolute;
        margin-left: 6rem;
        margin-top: 3rem;
    }

    .youp{
        position: absolute;
        margin-left: 13rem;
        margin-top: 1rem;
    }

    .wantp{
        position: absolute;
        margin-left: 19rem;
    }
    /* end of child */

.logo-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8rem;
    margin-bottom: 1.5rem;
}

.logo-cont>div>img{
    height: 8rem;
}

.ly1, .ly2, .ly3{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.l2n3{
    width: 100%;
    height: auto;
    position: relative;
    align-items: flex-end;
}

.boat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    z-index: 1;
}

.castle{
    margin-left: 19rem;
    margin-top: -0.3rem;
}

.castle>img{
    width: 18rem;
}

.boat>div>img{
    width: 3rem;
    margin-right: 8rem;
}

.l2n3>div{
    position: absolute;
}

/* end of main */

/* p1 */
.base-p1{
    background-color: #BEB8B8;
    /* height: inherit; */
    font-size: 0;
}

.cntr{
    width: 100%;
    height: auto;
    position: relative;
    /* align-items: flex-end; */
    font-size: 0;
}

.ly4{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.halloween-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.halloween>img{
    width: 40rem;
}

.p1font{
    font-family: halloween;
    text-align: center;
    font-size: 1.2rem;
}

.p1font-1{
    font-family: halloween;
    font-weight: bold;
    color: red;
}

.p1font-2{
    font-family: halloween;
    font-weight: bold;
    color: #FFB800;
}

.p1font-cont{
    width: 30rem;
    height: auto;
    align-self: center;
    margin-left: -25rem;
    margin-top: 3rem;
}

.haunted-castle>img{
    width: 11.5rem;
    margin-top: -3.8rem;
    margin-left: 2rem;
}

.bat-cont{
    display: flex;
    justify-content: center;
}

.bat{
    margin-left: 30rem;
    margin-bottom: -5rem;
    margin-top: -8rem;
}

.bat>img{
    width: 20rem;
    z-index: 2;
    position: relative;
}

.ghost{
    display: flex;
    justify-content: flex-end;
    margin-top: 7.5rem;
    margin-bottom: -13rem;
    margin-right: 2rem;
}

.ghost>img{
    width: 10rem;
    z-index: 2;
    position: relative;
}

/* end of p1 */

/* p2 */
.base-p2{
    font-size: 0;
}

.ly5{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -4rem;
}

.casual>img{
    width: 35rem;
}

.casual-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.casual{
    font-family: casual;
    width: 30rem;
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
}

.lamp{
    margin-top: -15rem;
}

.lamp>img{
    width: 18rem;
}

.clothes{
    margin-top: -12rem;
    margin-left: 8rem;
    z-index: 2;
    position: relative;
}

.clothes>img{
    width: 14rem;
}

/* end of p2 */

/* p3 */
.base-p3{
    background-color: #D7C641;
    font-size: 0;
}

.cntr-p3{
    margin-top: -6.7rem;
}

.ly6{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.rock-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6.5rem;
}

.rock-font{
    font-family: rock;
    text-align: center;
    font-size: 1.2rem;
    width: 30rem;
    line-height: 1.8rem;
    align-self: center;
}

.rock>img{
    width: 35rem;
}

.p3-font1{
    font-weight: bold;
    background-color: black;
    color: white;
    padding-right: 0.5rem;
    padding-left: 0.2rem;
}

.p3-font2{
    background-color: white;
    font-weight: bold;
    padding-left: 0.2rem;
    padding-bottom: 0.4rem;
}

.p3-font3{
    font-weight: bold;
    color: red;
}

.planet-cont{
    display: flex;
    justify-content: flex-end;
    margin-top: -11rem;
    margin-right: 2rem;
}

.planet>img{
    width: 9rem;
}

.alien>img{
    width: 15rem;
    margin-bottom: -12rem;
    z-index: 2;
    position: relative;
}

.alien-cont{
    display: flex;
    justify-content: flex-end;
    margin-top: -7rem;

}

/* end of p3 */

/* p4 */
.base-p4{
    background-color: #F0EEE6;
}

.ly7{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sun>img{
    width: 16rem;
}

.sun{
    margin-left: -30rem;
    margin-top: -3rem;
}

.sun-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.sun-cont>div{
    position: absolute;
}

.p4-font{
    font-size: 4.5rem;
    font-weight: bold;
    font-family: pool;
    margin-top: 2rem;
}

.p4-p{
    color: red;
}

.p4-o{
    color: #FF6B00;
}

.p4-o2{
    color: #FF7A00;
}

.p4-l{
    color: #FFF500;
}


.p4-font2{
    font-family: pool;
    width: 40rem;
    text-align: center;
    border-style: solid;
    border-color: #FF8400;
    background-color: white;
    font-size: 1.2rem;
    color: #75CDC8;
    padding: 0.3rem;
    border-radius: 10px;
}

.p4-conf{
    font-family: pool;
    width: 40rem;
    text-align: center;
    border-style: solid;
    border-color: #FF8400;
    background-color: white;
    font-size: 1.2rem;
    color: #75CDC8;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: -6rem;
    margin-left: -1.6rem;
    height: 5rem;
}

/* end of p4 */




/* font face */

@font-face{
    font-family: halloween;
    src: url(./Assets/p1/spectral.light.ttf);
}

@font-face{
    font-family: casual;
    src: url(./Assets/p2/abhaya-libre.regular.ttf);
}

@font-face{
    font-family: rock;
    src: url(./Assets/p3/anonymous-pro.regular.ttf);
}

@font-face{
    font-family: pool;
    src: url(./Assets/p4/BalooTamma-Regular.ttf);
}

/* end of font face */