/* main */


.base{
    height: 64rem;
    background-image: linear-gradient(rgba(166, 246, 250, 0.802), rgb(194, 236, 238), rgb(248, 224, 165));
    z-index: 0;
    position: relative;
}

.bag{
    top: 0px;
    position: sticky;
    z-index: 10;
}

.bag>img{
    height: 1.8em;
    padding: 1rem;
    cursor: pointer;
}

.imgrz{
    position: relative;
    height: 3rem;
    margin: 15rem;
    margin-top: 6rem;

}

.imgrz>div>img{
    height: 3rem;
    position: absolute;
}
    /* child of imgrz */
    .getp{
        position: absolute;
        margin-top: 5rem;
    }

    .whatp{
        position: absolute;
        margin-left: 6rem;
        margin-top: 3rem;
    }

    .youp{
        position: absolute;
        margin-left: 13rem;
        margin-top: 1rem;
    }

    .wantp{
        position: absolute;
        margin-left: 19rem;
    }
    /* end of child */

.logo-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8rem;
    margin-bottom: 1.5rem;
}

.logo-cont>div>img{
    height: 8rem;
}

.ly1, .ly2, .ly3{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.l2n3{
    width: 100%;
    height: auto;
    position: relative;
    align-items: flex-end;
}

.boat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    z-index: 1;
}

.castle{
    margin-left: 19rem;
    margin-top: -0.3rem;
}

.castle>img{
    width: 18rem;
}

.boat>div>img{
    width: 3rem;
    margin-right: 8rem;
}

.l2n3>div{
    position: absolute;
}

/* end of main */

/* p1 */
.base-p1{
    background-color: #BEB8B8;
    height: inherit;
}

.cntr{
    width: 100%;
    height: auto;
    position: relative;
    align-items: flex-end;
}

.ly4{
    font-size: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}